body{
    margin: 0;
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background-color: rgb(252, 245, 243);
}

header {
    background-color: crimson;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    color: whitesmoke;
    font-size: 60px;
    margin: 0px;
}

h1, h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
}

.subheading {
    margin: 0px;
    color: whitesmoke;
}

header img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid whitesmoke;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


blockquote{
    text-align: center;
    color:crimson;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

main img{
    display: block;
    max-width: 100%;
    margin: auto;
    text-align: center;
    border: 7px solid rgba(233, 64, 97, 0.808);
    border-radius: 5%;
}

h2{
    font-size: 40px;
    color: crimson;
    margin: 40px 0 10px;
}

a{
    color: crimson;
}
a:hover{
    background-color: brown;
    color: bisque;
}

footer{
    background-color: crimson;
    text-align: center;
    color: whitesmoke;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: whitesmoke;
}
footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    color:rgb(175, 175, 175);
    margin: 0;
    text-align: center;
}
